<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{client :: clientHead}">
<body>
<div>
 <div class="bg-opacity-75 bg-orange-600">
  <div class="bg-transparent container px-10 pt-5 pb-10 m-auto">
   <div class="flex items-center py-1 justify-between relative">
    <div class="flex items-center">
     <a th:href="@{/client/advertisements}"
        class="mr-5 text-xl uppercase text-opacity-100 text-white font-semibold hover:tracking-[0.07em] hover:text-opacity-100 hover:scale-110 duration-300 ease-in-out">Объявления</a>
     <a th:href="@{/client/schedule}"
        class="mr-5 text-xl uppercase text-opacity-60 text-white font-semibold hover:tracking-[0.07em] hover:text-opacity-100 hover:scale-110 duration-300 ease-in-out">Расписание</a>
    </div>
    <div th:replace="~{client :: clientAccount}">
    </div>
   </div>

  </div>
 </div>
</div>
<br><br>
 <div class="flex items-center justify-around font-serif">
   
      <div th:each="leasOption : ${leasComparisonOptions.leasOptions}" class="p-6 bg-white border border-gray-200 rounded-lg shadow-2xl dark:bg-gray-800 dark:border-gray-700">
        <div class="space-y-4">
          <div>
            <label for="cost" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Стоимость:</label>
            <p id="cost" th:text="${leasOption.cost + ' рублей'}" class="text-lg font-semibold text-gray-900 dark:text-white"></p>
          </div>
          <div>
            <label for="term" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Срок лизинга:</label>
            <p id="term" th:text="${leasOption.term + ' месяцев'}" class="text-lg font-semibold text-gray-900 dark:text-white"></p>
          </div>
          <div>
            <label for="leaseRate" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Ставка по лизингу:</label>
            <p id="leaseRate" th:text="${leasOption.leaseRate + ' %'}" class="text-lg font-semibold text-gray-900 dark:text-white"></p>
          </div>
          <div>
            <label for="advance" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Авансовый платёж:</label>
            <p id="advance" th:text="${leasOption.advance + ' %'}" class="text-lg font-semibold text-gray-900 dark:text-white"></p>
          </div>
          <div>
            <label for="redemption" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Выкупная стоимость:</label>
            <p id="redemption" th:text="${leasOption.redemption + ' %'}" class="text-lg font-semibold text-gray-900 dark:text-white"></p>
          </div>
          <div>
            <label for="compensation" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Возмещение стоимости:</label>
            <p id="compensation" th:text="${leasOption.compensation + ' рублей'}" class="text-lg font-semibold text-gray-900 dark:text-white"></p>
          </div>
          <div>
            <label for="resultCost" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Итоговый лизинговый платеж:</label>
            <p id="resultCost" th:text="${leasOption.resultCost + ' рублей'}" class="text-lg font-semibold text-gray-900 dark:text-white"></p>
          </div>
        </div>
      
    </div>
    
 </div>
<div class="flex justify-center mt-8">
 <div class="w-3/4 flex flex-col gap-4">
  <textarea th:text="${aiRequest}" class="w-full border-2 rounded-md p-2 h-52" placeholder="Запрос к помощнику"></textarea>
  <textarea th:text="${aiResponse}" class="w-full border-2 rounded-md p-2 h-52" placeholder="Ответ от помощника"></textarea>
 </div>
</div>


 <form  method="POST" th:action="@{/client/compareLeaseOptions}">
  <button type="submit"
          class="mt-8 w-full rounded-full bg-oragne-700 text-lg uppercase bg-orange-500 hover:bg-orange-800 p-3 duration-300 ease-in-out focus:outline-none focus:shadow-outline"
  >Сравнить варианты лизинга</button>
 </form>

</body>
<script th:src="@{/js/script.js}"></script>
</html>