<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Realty</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />

</head>
<body class="bg-[#ffffff] font-serif font-light text-white">
<div class="container p-10 m-auto">
  <div class="w-full mt-10 max-w-[500px] m-auto bg-grey-500 bg-[position:center] bg-[size:cover] shadow-2xl justify-center">
    <form class="bg-opacity-[.85] bg-grey-100 px-14 pb-52 pt-20" method="POST" th:action="@{/checkCode}">
      <div class="flex items-center">
        <p class="text-red-700 block w-fit pb-1  border-orange-700 font-semibold">Неправильный код</p>

      </div>

    </form>
  </div>
</div>
</body>
</html>