<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin :: adminHead}">
</head>
<body class="bg-white font-serif font-light text-white">
	<div class="bg-[url('/images/bgHeader.jpg')] bg-[position:center] bg-fixed bg-[size:cover]">
		<div class="bg-opacity-75 bg-orange-600">
			<div class="bg-transparent container px-10 pt-5 pb-10 m-auto">
				<div class="flex items-center py-1 justify-between relative">
					<div class="flex items-center">
						<a th:href="@{/admin/realtors}"
							class="mr-5 text-xl uppercase text-opacity-60 text-white font-semibold hover:tracking-[0.07em] hover:text-opacity-100 hover:scale-110 duration-300 ease-in-out">Риелторы</a>
						<a th:href="@{/admin/clients}"
							class="mr-5 text-xl uppercase text-opacity-60 text-white font-semibold hover:tracking-[0.07em] hover:text-opacity-100 hover:scale-110 duration-300 ease-in-out">Клиенты</a>
						<a th:href="@{/admin/advertisements}"
							class="mr-5 text-xl uppercase text-opacity-60 text-white font-semibold hover:tracking-[0.07em] hover:text-opacity-100 hover:scale-110 duration-300 ease-in-out">Объявления</a>
						<a th:href="@{/admin/statistics}"
							class="text-xl uppercase text-opacity-100 text-white font-semibold hover:tracking-[0.07em] hover:text-opacity-100 hover:scale-110 duration-300 ease-in-out">Статистика</a>
					</div>
					<div th:replace="~{admin :: adminAccount}">
					</div>
				</div>

		</div>
	</div>
	<div class="container px-10 py-5 pb-10 m-auto">
		<div class="mb-3 mt-5 text-center uppercase text-[40px] text-gray-500 text-opacity-80 font-medium">Риелторы по количеству проданных объектов</div>
	</div>
	</div>
	<div id="data"></div>
	<div class="container px-10 py-5 pb-10 m-auto">
		<div class="mb-3 mt-5 text-center uppercase text-[40px] text-gray-500 text-opacity-80 font-medium">Риелторы по количеству назначенных встреч</div>
	</div>
	</div>
	<div id="data2"></div>
</body>
<script th:src="@{/js/script.js}"></script>
<script src="https://www.google.com/jsapi"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	const realtorsStatBySell = /*[[${realtorsStatBySell.toArray()}]]*/null;

	var data1=[];
	var Header= ['Риелтор', 'Риелтор'];
	data1.push(Header);
	for (var i = 0; i < realtorsStatBySell.length; i++) {
		var temp=[];
		temp.push(realtorsStatBySell[i].name + ' ' + realtorsStatBySell[i].surname);
		temp.push(realtorsStatBySell[i].count);

		data1.push(temp);
	}
	function drawChart() {

		var data = google.visualization.arrayToDataTable(data1);

		var options = {
			vAxis: {title: 'Количество продаж'}
		};
		var chart = new google.visualization.ColumnChart(document.getElementById('data'));
		chart.draw(data, options);
	}
	/*]]>*/

</script>
<script th:inline="javascript">
	/*<![CDATA[*/
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart1);
	const realtorsStatByAppointment = /*[[${realtorsStatByAppointment.toArray()}]]*/null;

	var data2=[];
	var Header1= ['Риелтор', 'Риелтор'];
	data2.push(Header1);
	for (var i = 0; i < realtorsStatByAppointment.length; i++) {
		var temp1=[];
		temp1.push(realtorsStatByAppointment[i].name + ' ' + realtorsStatByAppointment[i].surname);
		temp1.push(realtorsStatByAppointment[i].count);

		data2.push(temp1);
	}
	function drawChart1() {

		var data = google.visualization.arrayToDataTable(data2);

		var options = {
			vAxis: {title: 'Количество встреч'}
		};
		var chart = new google.visualization.ColumnChart(document.getElementById('data2'));
		chart.draw(data, options);
	}
	/*]]>*/

</script>
</html>